/* Media Queries para ajustar el diseño en dispositivos móviles */
@media only screen and (max-width: 600px) {
    .conte {
        width: 98%;
        padding: 10px;
    }

    .fecha {
        margin-right: 10px;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .titulo {
        font-size: 40px;
        margin-top: 10px; /* Espacio pequeño arriba del título */
        margin-bottom: 20px; /* Espacio debajo del título */
    }

    .argumento {
        width: 95%;
        margin-top: 0; /* Sin espacio adicional encima del argumento */
        margin-bottom: 20px; /* Espacio debajo del argumento */
    }

    .slider {
        width: 95%;
        margin-top: 0; /* Sin espacio adicional encima del slider */
        height: 30%;
        margin-bottom: 20px; /* Espacio debajo del slider */
    }

    .beneficios {
        width: 95%;
        margin-top: 0; /* Sin espacio adicional encima de los beneficios */
        height: 40%;
        margin-bottom: 20px; /* Espacio debajo de los beneficios */
    }
}
