
    .navbar {
        position: fixed;
        z-index: 1;
    }
    .fixed-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(fondo\ html.jpg);
        background-position: center;
        z-index: -1; /* Envía la imagen al fondo */
        filter: blur(20px);
    }
    
    .contenedor-fijo {
        display: flex;
        justify-content: center; /* Centra el contenedor horizontalmente */
        align-items: center; /* Centra el contenedor verticalmente */
        position: fixed;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centra el contenedor absolutamente */
        width: 98%;
        height: 79%;
        overflow: hidden; 
    }
    .contenido {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
    
    .conte {
        width: 98%;
        height: 620px;
        border: 3px solid black;
        position: relative;
        margin: 10px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 15px;
        padding-bottom: 50px;
    }

    .fecha {
        font-size: 40px;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .titulo {
        font-size: 50px;
        width: 80%;
        text-align: center;
        padding: 20px 0;
        box-sizing: border-box;
        margin-left: 50px;
    }

    .slider {
        width: 47%;
        height: 350px;
        position: absolute;
        top: 170px;
        left: 1%;
        border-radius: 10px;
        overflow: hidden;
    }

    .slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;
        border-radius: 10px;
    }

    .slider img.active {
        display: block;
    }

    .argumento {
        width: 47%;
        text-align: center;
        font-size: 28px;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;

        position: absolute;
        right: 1%;
        top: 150px;
    }

    h1 {
        font-size: 1em;
        margin: 10px 0;
        text-transform: uppercase;
    }

    .text-argu {
        width: 100%;
        line-height: 1.4;
        margin: 0;
    }


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .contenedor-fijo {
    margin-top: -40px;
    height: 800px;
    }

    .conte {
        width: 95%; /* Ocupa casi todo el ancho */
        height: auto;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    }

    .fecha {
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }

    .titulo {
        position: relative;
        left: -25px;
        font-size: 28px; /* Aumenta el tamaño del título */
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 50px; /* Más espacio debajo de la fecha */
        margin-bottom: 10px; /* Añade un margen inferior */
        font-weight: bold; /* Hacer que el título sea más destacado */
    }

    .argumento {
        width: 95%;
        margin-bottom: 20px; /* Espacio debajo del argumento */
        position: relative;
        text-align: center; /* Centra el texto */
        font-size: 18px; /* Ajusta el tamaño del texto del argumento */
        line-height: 1.5; /* Espaciado entre líneas para mejor legibilidad */
        margin-top: -170px; /* Ajuste de margen superior */
    }

    .slider {
        width: 95%;
        height: 400px; /* Altura del slider */
        margin-top: 0; /* Sin margen superior */
        margin-bottom: 60px; /* Espacio debajo del slider */
        position: relative;
        overflow: hidden; /* Asegura que el contenido del slider no sobresalga */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        padding-bottom: 20px; /* Añade 20px de padding en la parte inferior */
    }

    .slider img {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del slider */
        height: 100%; /* Asegura que la imagen ocupe toda la altura del slider */
        object-fit: cover; /* Expande la imagen para cubrir todo el slider */
    }

}
@media only screen and (max-width: 1200px) {
    .contenedor-fijo {
    margin-top: -40px;
    height: 800px;
    }

    .conte {
        width: 95%; /* Ocupa casi todo el ancho */
        height: auto;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    }

    .fecha {
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }

    .titulo {
        position: relative;
        left: -25px;
        font-size: 28px; /* Aumenta el tamaño del título */
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 50px; /* Más espacio debajo de la fecha */
        margin-bottom: 10px; /* Añade un margen inferior */
        font-weight: bold; /* Hacer que el título sea más destacado */
    }

    .argumento {
        width: 95%;
        margin-bottom: 20px; /* Espacio debajo del argumento */
        position: relative;
        text-align: center; /* Centra el texto */
        font-size: 18px; /* Ajusta el tamaño del texto del argumento */
        line-height: 1.5; /* Espaciado entre líneas para mejor legibilidad */
        margin-top: -170px; /* Ajuste de margen superior */
    }

    .slider {
        width: 95%;
        height: 400px; /* Altura del slider */
        margin-top: 0; /* Sin margen superior */
        margin-bottom: 60px; /* Espacio debajo del slider */
        position: relative;
        overflow: hidden; /* Asegura que el contenido del slider no sobresalga */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        padding-bottom: 20px; /* Añade 20px de padding en la parte inferior */
    }

    .slider img {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del slider */
        height: 100%; /* Asegura que la imagen ocupe toda la altura del slider */
        object-fit: cover; /* Expande la imagen para cubrir todo el slider */
    }

}
