body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: auto;
    background-color: #f0f0f0;
}

.conte {
    width: 99%;
    height: 96vh;
    border: 3px solid black;
    position: relative;
    margin: 10px 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
}

.titulo {
    font-size: 2.5em;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.slider {
    width: 47%;
    height: 53%;
    position: absolute;
    top: 100px;
    left: 1%;
    border-radius: 10px;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    max-width: 100%;  /* Asegura que la imagen no sea más grande que el contenedor */
    max-height: 100%; /* Limita la altura de la imagen */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsión */
    display: none; /* Oculta todas las imágenes por defecto */
    border-radius: 10px;
}

.slider img.active {
    display: block; /* Solo muestra la imagen activa */
}

.argumento {
    position: absolute;
    width: 47%;
    height: 53%;
    top: 100px;
    right: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    margin: 10px 0;
    text-transform: uppercase;
}

.text-argu {
    width: 100%;
    line-height: 1.4;
    margin: 0;
}

.beneficios {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.beneficios p {
    line-height: 1.4;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 10;
}

.house-button-image {
    width: 50px;
    height: 50px;
    background-size: cover;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.house-button-image:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.house-button-icon {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    background-color: white;
}

.house-button-icon:hover {
    background-color: black;
    color: white;
}

/* Media Queries para ajustar el diseño en dispositivos móviles */
@media (max-width: 768px) {
    .slider, .argumento {
        width: 90%;
        height: auto;
        top: 60px;
        left: 5%;
        right: 5%;
        position: relative;
    }

    .argumento {
        height: auto;
        font-size: 18px;
        padding: 5px;
    }

    .beneficios {
        width: 95%;
        bottom: 10px;
        font-size: 18px;
        padding: 5px;
    }

    .house-button-image, .house-button-icon {
        width: 50px;
        height: 50px;
    }

    .titulo {
        font-size: 1.5em;
        padding: 5px 0;
    }
}

@media (max-width: 480px) {
    .slider, .argumento {
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }

    .argumento {
        font-size: 16px;
        padding: 5px;
    }

    .beneficios {
        width: 95%;
        font-size: 16px;
        padding: 5px;
    }

    .house-button-image, .house-button-icon {
        width: 40px;
        height: 40px;
    }

    .titulo {
        font-size: 2rem;
        padding: 5px;
    }
}

.fecha {
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 30px;
}
