.navbar {
    position: fixed;
    z-index: 1;
}

.fixed-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(fondo\ html.jpg);
    background-position: center;
    z-index: -1; /* Envía la imagen al fondo */
    filter: blur(20px);
}

.contenedor-fijo {
    display: flex;
    justify-content: center; /* Centra el contenedor horizontalmente */
    align-items: flex-start; /* Alinea el contenido al inicio del contenedor */
    position: fixed;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el contenedor absolutamente */
    width: 98%; /* Mantiene el tamaño del 95% del ancho */
    height: 81%; /* Mantiene el tamaño del 70% de la altura */
    padding-top: 0px; /* Ajusta para evitar que la barra de navegación lo cubra */
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

.contenedor-tabla {
    width: 100%;
    height: auto; /* El contenido se puede expandir sin límite dentro del contenedor fijo */
   
    padding: -10px; /* Elimina el padding innecesario */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es muy largo */
}

table {
    width: 100%;
    table-layout: fixed; /* Fija el ancho de las columnas */
    border-collapse: collapse;
   
}

th, td {
    border: 1px solid black;
    padding: 2.5px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco más transparente para las celdas */
}

td {
    font-size: 20px;
}

/* Especificar anchos de las columnas */
th:nth-child(1), td:nth-child(1) {
    width: 9%; /* Columna "Fecha" */
}

th:nth-child(2), td:nth-child(2) {
    width: 55%; /* Columna "Cronograma" */
}

th:nth-child(3), th:nth-child(4),
td:nth-child(3), td:nth-child(4) {
    width: 10%; /* Columnas "Si" y "No" */
}

/* Color verde para las casillas de "Si" */
.si {
    background-color: #90ee90; /* Verde claro */
    font-size: 15px;
}

/* Color rojo para las casillas de "No" */
.no {
    background-color: #ff0400; /* Rojo claro */
    font-size: 15px;
}

/* Estilos para las celdas de encabezado "Fecha", "Cronograma" y "Ejecutado" */
.fecha {
    background-color: #ffebcd; 
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.cronograma {
    background-color: #ffebcd; 
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.ejecutado {
    background-color: #f0e68c; /* Amarillo suave */
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    .navbar {
        margin: -2px 15px;
        width: 87%;
    }
    .contenedor-fijo{
        margin-top: -15px;
    }
    td{
        font-size: 17px;
    }
    /* Especificar anchos de las columnas */
th:nth-child(1), td:nth-child(1) {
    width: 15%; /* Columna "Fecha" */
}

th:nth-child(2), td:nth-child(2) {
    width: 55%; /* Columna "Cronograma" */
}

th:nth-child(3), th:nth-child(4),
td:nth-child(3), td:nth-child(4) {
    width: 10%; /* Columnas "Si" y "No" */
}
.ejecutado{

    font-size: 8px;
}
}
