body {
    font-family: 'Arial', sans-serif;

}

.fixed-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(fondo\ html.jpg);
    filter: blur(20px);
    background-position: center;
    z-index: -1;
}

.navbar {
    position: fixed;
    z-index: 10;

}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: auto; /* Centrar la barra de navegación */
}

.button-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px; /* Tamaño de fuente de los botones */
}

.button-container button:hover {
    background-color: #45a049;
}

h1, h2, h3 {
    margin: 0;
    padding: 10px 0;
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    padding-bottom: 10px;
}

h2 {
    font-size: 30px;
    color: #000000;
    padding-bottom: 10px;
    border-bottom: 2px solid #8BC34A;
    display: inline-block;
    margin: 20px 0;
}

h3 {
    font-size: 24px;
    color: #000000;
    padding-bottom: 8px;
    margin: 10px 0;
}

p {
    font-size: 23px;
    padding: 15px;
    margin: 0 0 20px 0;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.contenedor-fijo {
    position: fixed;
    top: 57%; /* Coloca el contenedor en el centro vertical de la pantalla */
    left: 50%; /* Coloca el contenedor en el centro horizontal de la pantalla */
    transform: translate(-50%, -50%); /* Ajusta el contenedor para que esté centrado */
    width: 80%; /* Ajusta el ancho del contenedor */
    height: 75%; /* Ajusta la altura del contenedor */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    position:fixed;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding: 20px; /* Espaciado interno para el contenido */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra alrededor del contenido */
}

/* Estilo para ocultar la barra de desplazamiento */
.contenido::-webkit-scrollbar {
    display: none;
}

.contenido {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

ul {
    list-style-type: none; /* Sin viñetas en la lista */
    padding: 0; /* Sin padding */
    margin: 0 0 20px 20px; /* Margen a la izquierda para la lista */
    font-size: 25px;
}

li {
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
    background-color: rgba(220, 220, 220, 0.8); /* Fondo gris claro para los ítems */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Sombra de separación */
    font-size: 18px;
}

/* Ajustes específicos para pantallas pequeñas (móviles) */
@media only screen and (max-width: 600px) {
    .contenedor-fijo {
        width: 90%; /* Ajusta el ancho para pantallas pequeñas */
        height: 80%; /* Ajusta la altura para pantallas pequeñas */
        margin-top: 7%; /* Asegura que el contenedor esté centrado verticalmente */
        left: 50%; /* Asegura que el contenedor esté centrado horizontalmente */
        transform: translate(-50%, -50%); /* Mantiene el contenedor centrado */
    }
    .contenido{
        width: auto;
    }
}
