.fixed-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(fondo\ html.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1; /* Envía la imagen al fondo */
    filter: blur(2px);
}
.mision{
    background-color: rgb(219, 211, 211);
   width: 25rem;
   height: 20rem;
   text-align: center;
   position: absolute;
   left: 175px;
   top: 190px;
   font-size: 28px;
   border: solid 3px black;
   border-radius: 15px;
}

.vision{
    background-color: rgb(219, 211, 211);
    width: 25rem;
    height: 20rem;
    position: absolute;
    left: 790px;
    top: 190px;
    text-align: center;
    font-size: 27px;
    border: solid 3px black;
    border-radius: 15px;
}