body {
    font-family: Arial, sans-serif;
    /* Para permitir el desplazamiento del contenido sin interferir con la navbar */
}

.navbar {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center;
    background-color: #337ab7; /* Color de fondo de la barra de navegación */
    padding: 20px 20px;
    border-radius: 20px;
    position: absolute; /* Cambia a absoluto para centrarlo */
    left: 50%; /* Mueve el contenedor hacia el centro horizontalmente */
    top: 20px;
    transform: translateX(-50%); /* Ajusta el contenedor para que esté centrado */
    height: 3rem;
    width: 92%;
    z-index: 1;
}

.navbar .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea los botones a la izquierda */
}

.navbar .button-container button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px; /* Aumento de radio de borde para botones */
    padding: 15px 30px; /* Aumento de tamaño de los botones */
    margin-right: 15px; /* Espacio entre botones */
    cursor: pointer;
    color: #007BFF;
    transition: background-color 0.3s;
    font-size: 19px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar .button-container button:hover {
    background-color: #0056b3;
    color: #FFFFFF;
}

.navbar .logo {
    width: 70px;
    height: 70px;
    margin-top: 5px; /* Mueve el logo a la derecha */
}

/* Ajustes específicos para pantallas pequeñas (móviles) */
@media only screen and (max-width: 600px) {
    .navbar {
        padding: 10px 10px;
        height: auto;
        width: 90%;
        border-radius: 15px;
        left: 47%;
        transform: translateX(-50%);
        margin: -10px auto;
        position: relative; /* Permite que el logo se posicione correctamente */
    }

    .navbar .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centra los botones */
        width: 80%; /* Asegura que los botones ocupen todo el espacio disponible */
    }

    .navbar .button-container button {
        padding: 8px 16px;
        font-size: 14px;
        width: calc(100% / 3 - 10px); /* Ajusta para que quepan tres botones por fila */
        margin: 5px;
        white-space: nowrap; /* Evita que el texto se corte */
    }

    .navbar .logo {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        right: 20px; /* Posiciona el logo a 10px del borde derecho */
        transform: translateY(-50%); /* Centra el logo verticalmente en la barra */
    }
}
